# Dependency directories
node_modules/
pnpm-lock.yaml

# Environment & runtime files
.env
.env.*

# Git-related
.git/

# Ignore editor stuff
.vscode/
.idea/

# ui
ui/.next
ui/build
ui/coverage
ui/test-results

# lambda
lambdas/.coverage
lambdas/dist
lambdas/coverage
lambdas/test-results

# local env & postman
postman/
local-environment/
